
<div class="containter" id="contact-header"> <!-- style="background-image: url('/assets/contact.jpe');"> -->
  <h1>Contact Us</h1>
    <h2>Quotes, Suggestions, Questions..Do it!</h2>
</div>
<div class="container-fluid" id="contact-form">
  <div class="row">
    <div class="col-md-4 col-sm-4  col-md-offset-4">
      <div class="form-group">
        <%= label_tag :name, "Name" %>
        <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", :required => true  %>
      </div>      
      <div class="form-group">
        <%= label_tag :email, "Email Address" %>
        <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", :required => true %>
      </div>
      <div class="form-group">
        <%= label_tag :message, "Fire away!" %>
        <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", :required => true %>
      </div>      
      <%= submit_tag "Send" %>   
    </div>
  </div>
</div>